body {
    background-image: url(课程表御用背景.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Microsoft Yahei';
    text-align: center;
}
h2 {
    font-family: 'Microsoft Yahei';
    font-weight: 700;
}
td, tr {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid white;
    border-collapse:collapse;
}
